.vscode/**
.vscode-test/**
src/**
out/**
test/**
node_modules/**
.gitignore
.eslintrc.json
.eslintignore
tsconfig.json
webpack.config.js
**/*.map
**/*.ts
.github/**
**/tsconfig.json
**/*.test.ts
**/*.spec.ts
yarn.lock
package-lock.json
